.THIS  .tablecss {
    line-height: 30px;
}
.THIS .frequired label:after { 
    content:" *";
    color: #e32;
}
  
.THIS .Green_color a{
    color: green;
}
.THIS .Red_color a{
    color: red;
}
.THIS .Black_color a{
    color: black;
}

@media (min-width: 48em) {
    .THIS .slds-modal__container {
        margin: 0 auto;
        width: 100% !important;
        max-width: 90rem !important;
        min-width: 30rem !important;
    }
}

.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
}

.THIS .slds-card__header {
    padding: 0;
    margin: 0;
}

.THIS .slds-accordion__section {
    padding-top: 0.65rem !important;
}
.THIS .slds-button_icon-border
{
    width: 1.5rem;
    height: 1.5rem;
    
}


.THIS .MobileMoreActions .slds-dropdown-trigger .slds-dropdown_left
{
    left:auto !important;
    right:0 !important;
    transform:translateX(0) !important;
}

.THIS .MobileMoreActions .slds-dropdown-trigger .slds-button
{
    line-height:1.5rem !important;
}
.THIS .slds-textarea{
    height:115px !important;
}
.THIS .slds-rich-text-area__content{
      height:150px !important;
}
.THIS .slds-accordion__summary
{
    margin-top: 5px;
    margin-bottom: 18px;
    margin-left: 2px;
    margin-right: 2px;
}