.THIS .frequired label:after { 
    content:" *";
    color: #e32;
}
.THIS .slds-textarea{
    height:115px !important;
}
.THIS .slds-rich-text-area__content{
      height:150px !important;
}
@media (min-width: 48em) {
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 90rem !important;
    min-width: 30rem !important;
 }
}