.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
}

.THIS .slds-accordion__section {
    padding: 0.65rem !important;
}

 .THIS .slds-table td {
    padding: .5rem .5rem !important;
}
.THIS .slds-accordion__summary
{
    margin-top: 5px;
    margin-bottom: 5px;
}